

.container {
    display: grid;
    grid-template-columns: auto;
    padding-top: 10px;
    padding-left: 12px;
    width: 210px;
    height: 150px;
    background: #232323;
    border-radius: 4.68775px;
    min-width: max-content;
}

.cardBody {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    gap: 20px;
}


.leftSection h3 {
    margin-top: 0;

}

.leftSection p {
    margin-top: 0px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 7px;
}

.rightSection {
    margin-right: 20px;
}

.rightSection h3 {
    margin-top: 0;
    font-size: 15px;
    line-height: 18px;
    color: #ffffff;
    margin-bottom: 7px;
}

.rightSection p {
    margin-top: 0;
    font-size: 13px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 8.5px;
}

.priceText {
    color: #ffffff !important;
}

.productDescription {
    font-size: 11px;
    line-height: 13px;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 0;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none; 
}

.productDescription::-webkit-scrollbar {
    display: none;
}

.location {
    max-width: 120px;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none; 
}

.location::-webkit-scrollbar {
    display: none;
}